ENVIRONMENT=dev
DUCKDB_PATH=./data/warehouse/revops.duckdb

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_DATABASE=REVOPS
SNOWFLAKE_WAREHOUSE=TRANSFORMING
